html {
  height: 100%;
}

body {
  margin: 0;
}

.full-page {
  width: 100%;
  height: 100%;
}

.viewer-wrapper {
  display: flex;
}

.viewer-wrapper .left-sidebar {
  flex: 0;
}

.viewer-wrapper .left-sidebar .viewer-tools{
  width: 200px;
}

.viewer-wrapper .left-sidebar .viewer-tools a.active {
  color: #efefef;
}

.viewer-wrapper .viewport {
  flex: 1;
  position: relative;
}

.viewer-wrapper #conerstoneViewport {
  width: 100%;
  height: 100%;
  position: absolute;
}

.viewer-wrapper #conerstoneViewport canvas {
  width: 100% !important;
  height: 100% !important;
}

.scroll {
  background-color: #ff0000;
  height: 10px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.scroll .thumb {
  background-color: #ffffff;
  height: 10px;
}
